:root {
  --primery-color: #0025a2;

  /* *BG */
  --bg-color: #f7f8fc;

  /* *TEXT */
  --text-hover: #0025a2;
  --text-black: #000;

  /* *OTH. */
}

body {
  background-color: var(--bg-color);
}

.flex1 {
  flex: 1;
}

.select-none {
  user-select: none;
}
