:root {
  --primery-color: #0025a2;

  --admin-primery-color: #216bf4;

  /* *BG */
  --bg-color: #f7f8fc;

  /* *TEXT */
  --text-hover: #0025a2;
  --text-black: #000;

  /* *OTH. */
}

body {
  background-color: var(--bg-color);
}

.flex1 {
  flex: 1;
}

.select-none {
  user-select: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primery-color);
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 70deg,
      #0000 71deg 90deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l5 1s infinite;
  z-index: 111;
}

.loaderWindow {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.4);

  transition: 0.2s;
  z-index: 9999999999999999999 !important;
}

.loaderParent {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);

  transition: 0.2s;
  z-index: 9999999999999999999 !important;
}

@keyframes l5 {
  to {
    transform: rotate(0.5turn);
  }
}

/* text */

.txtcenter {
  text-align: center !important;
}

.chart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.chart {
  width: 250px; /* Diagrammaning kengligi */
  height: 250px; /* Diagrammaning balandligi */
  margin-bottom: 20px;
}

.total {
  font-size: 18px;
  font-weight: bold;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.ant-message {
  z-index: 99999999999999999999 !important;
}

.leftright {
  display: flex;
  gap: 5px;
}
